
.Auth {
    overflow-x: hidden;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Auth__section {
    animation: Auth__section 0.8s;
}

@keyframes Auth__section {
    0% {
        transform: translateX(-100%);
    } 50% {
        transform: translateX(2%);
    } 100% {
        transform: translateX(0%);
    }
}